:root {
  --black: #060606;
  --white: #f7f7f9;
  --black-light: #1a1a1a;
  --color-4: #262626;
  --color-5: #ffdc00;
  --color-6: #e53aa3;
  --color-7: #1e93ff;

  --white: #eeeeee;
  --off-white: #c0c0c0;
  --black: #060606;
  --black-light: #1a1a1a;
  --magenta: #e53aa3;
  --magenta-light: #ff7bcc;
  --red: #f93c31;
  --blue: #1e93ff;
  --blue-light: #87d8f1;
  --yellow: #ffdc00;
  --orange: #ff851b;
  --maroon: #921231;
  --green: #4fcc30;
  --gray: #555555;
  --gray-light: #999999;
}
